body{
  font-family: 'Roboto', Helvetica, Verdana;
}

#seccion_inicio{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

#cv_foto{
  border-radius: 50%;
}

#seccion_inicio h1{
  font-size: 40px;
  letter-spacing: 15px;
}

#seccion_inicio h2{
  font-weight: bold;
}

#seccion_sobremi{
  margin-top: 50px;
  margin-bottom: 50px;
}

#seccion_sobremi h2{
  color: blue;
}

#seccion_hobbies .glyphicon{
  font-size: 70px;
}

#seccion_inicio *{
  color: white;
}

#seccion_hobbies {
  background-color: #0CD2A4;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#seccion_hobbies h3{
  text-decoration: underline;
  color: green;
}

#seccion_skills{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
}

/* añadir color de fondo */
#seccion_social{
  background: #0CD2A4;
  padding: 80px;
}

/* quitar puntos de la lista <li> */
#seccion_social ul{
  list-style-type: none;
  margin: 0;
}

/* hacer horizontal la lista */
#seccion_social ul li{
  display: inline;
}

/* hacer que los iconos sean blancos */
#seccion_social ul li a{
  color: white;
}

/* quitar subrayado al pasar el mouse */
#seccion_social ul li a:hover{
  text-decoration: none;
  color: white;
}

/* cambiar fondo del icono al pasar el mouse */
#seccion_social ul li a:hover i{
  background: #2D373D;
}

/* estilizar iconos sociales */
#seccion_social .fa{
  /* borde */
  border: 2px white solid;
  /* hacer borde circular */
  border-radius: 50%;
  /* tamaño de icono */
  font-size: 40px;
  /* espacio interior */
  padding: 10px 15px;
  /* espacio exterior */
  margin-right: 20px;
}

#seccion_social .fa-twitter{
  padding: 10px 13px;
  /*padding: top right bottom left;
  padding: 10px 13px 10px 13px;*/
}

#seccion_social .fa-facebook{
  padding: 10px 20px;
}

#seccion_social .fa-google-plus{
  padding: 10px 7px;
}

#seccion_social .btn{
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 5px #787878;
  padding: 20px 40px;
}

#seccion_social .btn:hover{
  background: #4b4b4b;
  color: white;
}

#seccion_contacto{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: white;
}

#seccion_contacto p{
  font-size: 20px;
}

#seccion_contacto .glyphicon{
  font-size: 40px;
}

#seccion_contacto input,
#seccion_contacto textarea{
  border-bottom: 2px black solid;
}

#seccion_contacto button{
  border-radius: 10px;
  background: aqua;
}
